<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.connect" ui-sref-active="active">
          <i class="icon ion-ios7-cloud-upload"></i>
          Connect
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.institutions" ui-sref-active="active">
          <i class="icon ion-ios7-world"></i>
          Institutions
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.categories" ui-sref-active="active">
          <i class="icon ion-ios7-browsers"></i>
          Categories
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
